*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    width: 100wh;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    display: flex;
}
.boxes{
    height: 90%;
    width: 90%;
    background-color: blue;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box1{
    height: 25%;
    width: 25%;
    background-color: yellow;
}
.box2{
    height: 25%;
    width: 25%;
    background-color:violet;
}
.box3{
    height: 25%;
    width: 25%;
    background-color:tomato;
} 
.box4{
    height: 25%;
    width: 25%;
    background-color:aquamarine;
}  
.box5{
    height: 25%;
    width: 25%;
    background-color:blueviolet;
}  
.box6{
    height: 25%;
    width: 25%;
    background-color:chartreuse;
}  