*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    height: 70%;
    width: 40%;
    background-color:chartreuse;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.heading{
    height: 8%;
    width: 100%;
    font-weight: 900;
    font-size: x-large;
    text-align: center;
}
.name{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: text;
}
.lName{
    height: 100%;
    width: 35%;
    background-color: white;
    border-radius: 10px;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: text;
    margin-left: 10%;
    padding-left: 3px;
}
.fName{
    height: 100%;
    width: 35%;
    background-color: white;
    border-radius: 10px;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: text;
    margin-left: 6%;
    padding-left: 3px;
}
.email, .pass, .cPass{
    height: 10%;
    font-size: small;
    margin-left: 30px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: text;
    padding-left: 3px;
}
.checks{
    height: 8%;
    width: 80%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}
.submit{
    height: 11%;
    width: 80%;
    color: white;
    font-weight: 800;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 30px;
}
.login, .copyright{
    height: 8%;
    width: 80%;
    color: white;
    display: flex;
    font-size:medium;
    justify-content: center;
    align-items: center;
}