*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('https://preview.ibb.co/mvTynf/g.jpg');
    font-family: 'Poppins', sans-serif;
      background-size: cover;
      background-attachment: fixed;
      
  }

.contact-cover {
     height: 100%;
     width: 100%;
    }

.contact-inner {
     padding: 40px 0 0 0;
  }

form {
    margin: 0 auto;
    padding: 38px;
      background: linear-gradient(to right,#fa3300b5,#ffeb0066);

      border-radius: 1em;

      max-width: 28em;
      min-width: 20em;
      color: #fff401eb;
      font-size: 15px;
  }


.btn{
    margin-top: 4px;
      background-color:rgba(255,255,255,.15);
      width:157px;
      box-shadow:-8px 6px 2px 3px #611d1896;}
a{
    color:#fff001;
    text-decoration:none;
        font-weight:bold;
    font-family:cursive;
    font-size:20px;
}

a:hover{
  text-decoration:none;
  color:#fff001}

 button:hover{ background-color:orange;
  color: #fff001;
    border: 2px solid #861b14;
    box-shadow: inset -2px 5px 9px 0px #3c0e0b;}
h1{text-align: center;
  font-size: 48px;
    font-family:cursive;
    font-weight: 700;
    margin-bottom: 40px;text-shadow: 2px 2px 16px darkred;
    color: #fff70563;    letter-spacing: 4px;
        
    }
